.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color: #1976d2;
    color: white;
    justify-content: center;
}
.float-right {
    float: right;
}

.delete-btn {
    position: relative;
    right: 0px;
    bottom: 100px;
}

.center-txt {
    text-align: center;
}
  